################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project1/.vs/Project1/v14
/project1/Project1
/project1/Project1Laptop
/Project1Laptop
