################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project1/.vs/Project1/v14
/project1/Project1
/project1/Project1Laptop
/Project1Laptop
/Project 1
/project1/Test
/project2/Project 2 - Solution
/project2/Project2
/Project 2 - Solution
